@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}
